{% extends 'base.html' %} 

{% block title %}All users{% endblock title %}

{% block content %} 
    <div class="container">
        <h1>User List</h1>
        <ul class="list-group">
            {% for user in users %} 
                <li>

                    <a href="{{ url_for('get_profile', uid=user.id) }}" class="list-group-item list-group-item-action list-group-item-light">
                        {{ user.first_name }} {{user.last_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <p></p>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Home</a>
    </div>

{% endblock content %}


